SitioReservaPeliculas/Connected Services/ServiceReference_Usuario/Usuario.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="registrarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="registrarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="registrarUsuarioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="registrarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:registrarUsuario" />
  </wsdl:message>
  <wsdl:message name="registrarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:registrarUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="UsuarioSoap">
    <wsdl:operation name="registrarUsuario">
      <wsdl:input message="tns:registrarUsuarioSoapIn" />
      <wsdl:output message="tns:registrarUsuarioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UsuarioSoap" type="tns:UsuarioSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="registrarUsuario">
      <soap:operation soapAction="http://tempuri.org/registrarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UsuarioSoap12" type="tns:UsuarioSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="registrarUsuario">
      <soap12:operation soapAction="http://tempuri.org/registrarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Usuario">
    <wsdl:port name="UsuarioSoap" binding="tns:UsuarioSoap">
      <soap:address location="https://localhost:44335/WS/Usuario.asmx" />
    </wsdl:port>
    <wsdl:port name="UsuarioSoap12" binding="tns:UsuarioSoap12">
      <soap12:address location="https://localhost:44335/WS/Usuario.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>